*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
  background: hsl(204, 43%, 93%);
  font-size: 16px;
  min-height: 100vh;
  font-family: 'Karla', sans-serif;
  align-items: center;
  display:flex;
}
.container{
    max-height: 960px;
    margin: 0 auto;
}
.wrapper{
    display: grid;
    border-radius: 7px;
    background-color: white;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    margin:2rem 1rem;
    box-shadow: 0px 10px 20px hsl(180, 7%, 83%);
    
}
.top{
    display: inline;
    grid-column-start:1;
    grid-column-end:3;
    background-color: white;

}
.left_card{
    background-color: hsl(179, 62%, 43%);
}
.right_card{
    background-color: hsl(179, 41%, 57%);
    padding: 20px;
}
.card{
    padding:40px;
}
h1{
    color:  hsl(179, 62%, 43%);
    font-size: 26px;
    padding-bottom:20px;
}
h3{
    color: hsl(71, 73%, 54%);
    padding-bottom: 12px;
}

.top p{
    
    color:  hsl(218, 22%, 67%);
    line-height:1.5;
}
h2{
    color: white;
    font-size: 20px;
    padding-top: 20px;
}
h5{
    display: flex;
    align-items: center;
    padding-bottom: 10px;

}
h5 span.price{
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding-right: 10px;
}
h5 span{
    color: hsl(204, 43%, 93%);
    font-weight: 400;
}
.left_card p{
    color: white;
}

.left_card a{
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: hsl(71, 73%, 54%);
    color: white;
    padding-top:10px;
    border-radius: 5px;
    font-weight: 800;
    margin-top: 30px;
    height:38px;
}
.right_card ul{
 list-style-type: none;

}
.right_card li{
    padding-top:12px;
    font-size: 14px;
    color: white;
    padding-bottom: 4px;

}
@media only screen and  (min-width:460px) and (max-width: 1440px) {
    .wrapper{
        display: inline-block;
    }
    .top{
        padding-bottom: 0px;
    }
}
.footer{
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}